/*Primeiras configurações*/
body {
    background-color: darkolivegreen;
    border: red solid 3px;
    margin: 30 auto;
}
p {
    text-align: center;
    color: blueviolet;
}
form {
    text-align: center;
}
h2 {
    font-size: 200px;
}