/*Configurações gerais da página*/
* {
   margin: 0 auto;
   padding: 0; 
}
/*Primeiras configurações*/
body {
    background-color: darkolivegreen;
}
p {
    text-align: center;
    color: blueviolet;
}
form {
    text-align: center;
}
h2 {
    font-size: 200px;
}
/*Estrutura do Menu*/
#bodyindex {
    background-color: rgb(249, 222, 188);
    text-align: left;
    border-width: 10px;
    margin: 20px auto;
    border: green solid 1px;
}
.menu {
    list-style: none;
    border: 2px solid black;
    float: left;
}
.menu li {
    position: relative;
    float: left;
    border-right: 2px solid brown;
}
.menu li a {
    color: red;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}